<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/script.js}" ></script>

</head>
<body>
<div th:replace="fragments/navigation :: navbar"></div>
<div class="container">
    <div th:replace="fragments/messageOfSuccess :: message"></div>
    <h3>Authors</h3>
    <hr>

    <div id="dialogContainer"></div>

    <div style="overflow: auto;">
        <div style="float:left" class="col-3">
            <form th:action="@{/authors/list}" method="GET" autocomplete="off">
                <table style="width:100%">
                    <tbody style="width: -webkit-fill-available;">
                    <tr>
                        <td>
                            <input id="filterText" class="form-control" type="text" name="filterText" th:value="${filterText}">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Go</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div style="float:right" class="col">
            <button type="button" class="btn btn-primary" style="width: max-content" onclick="addAuthor()">
                <i class="fa fa-plus"></i>Add new</button>
        </div>
    </div>

    <hr>

    <table class="table table-border table-striped">
        <thead class="table-dark">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Nationality</th>
            <th>Info</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.lastName}"></td>
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.nationality}"></td>
            <td>
                <a th:href="@{/authors/info(authorId=${author.id})}"
                   class="btn btn-info btn-sm"><i class="fa fa-info"></i>
                    Info
                </a>
            </td>
            <td>
                <button type="button" th:data-name="${author.id}" class="btn btn-secondary btn-sm"
                        style="width: max-content" onclick="updateAuthor(this.getAttribute('data-name'))">
                    <i class="fa fa-edit"></i>Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

<script>
    function updateAuthor(id) {
    fetch('/authors/update?authorId='+ id)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                // Insert the dialog content into the container
                document.getElementById('dialogContainer').innerHTML = html;
            })
            .then(() => {
                let authorModal = document.getElementById('authorModal');
                openModal(authorModal);
            })
            .catch(error => console.error('Error fetching dialog content:', error));

    }
</script>
</html>