<div th:fragment="message">
    <div class="modal" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-modal="true"
         role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="messageModalContent">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel" th:text="${title}" style="color: white;"></h5>
                    <button type="button" class="btn btn-primary" onclick="closeMessageModal()">Close</button>
                </div>
                <div class="modal-body" id="author">
                    <span th:text="${message}" id="message" style="color: white;"></span>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>